body {
    background: linear-gradient(70deg, #ff6bce, #578fff);
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_area {
    width: 80%;
    height: 130px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 5px 5px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 15px 0px 15px 50px;
    margin: auto;
    margin-top: 30px;
}

.album_art,
.info_area,
.singer {
    float: left;
}

.info_area {
    padding-top: 40px;
}

.album_art {
    width: 100px;
    height: 100px;
    background-color: white;
    margin-right: 15px;
}

.info_area {
    width: 80%;
}

.thumb_up,
.thumb_down {
    float: left;
    margin: 20px;
}

.song_name,
.singer {
    font-family: "Jua", sans-serif;
}

#header {
    width: 80%;
    margin: 0 auto;
}

#logo {
    margin-right: auto;
}

.logout {
    flex: 0 0 auto;

}

.row {
    margin-top: 20px;
    osition: relative;
    display: flex;
    align-items: center;

}

.btn {
    order-radius: 23px;

    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(199, 238, 255);
    padding: 8px 26px;
    font-size: 1rem;
    line-height: 30px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
    border-radius: 23px;

}

.btn:hover {
    background-color: #fff3cd;
}

.recommend {
    margin: 0 auto;
}

.recommend-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: none;
}


#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}

/*                ddddddddddddddddddddddd */
* {
    margin: 0;
    padding: 0;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background: #000;
    margin: 20px;
}

#modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);

}

.modal-con {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    min-height: 30%;
    background: #fff;
    z-index: 10000;
}

.modal-con .title {
    font-size: 20px;
    padding: 20px;
    background: gold;
}

.modal-con .con {
    font-size: 15px;
    line-height: 1.3;
    padding: 30px;
}

.modal-con .close {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #000;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    right: 10px;
    top: 10px;
}

.search-box {
    width: 70%;
    margin: 50px auto;
    max-width: 700px;
}
